body,
html {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  color: #fff;

}
h1,
h2,
h3,
h4,
h5,
p {
  margin: 0 !important;
  width: 100%;
}

.gap-s {
  gap: 10px;
  display: flex;
  flex-wrap: wrap;
}

.gap-l {
  gap: 35px;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}

.center {
  align-items: center;
  justify-content: center;
  display: flex;
  gap: 2px;
}

.green-dot {
  background-color: rgb(5 223 114);
  height: 6px;
  width: 6px;
  border-radius: 50%;
}
.hero-sec-bnt {
  border: rgb(222 230 248);
  border-radius: 8px;
  padding: 5px 12px;
  background-color: rgb(77 117 211);
  color: rgb(222 230 248);
  font-size: 12px;
  gap: 10px;
}

.hero-first-bnt {
  background-image: url(../assets/button.png);
  background-position: center;
  background-size: contain;
  height: 42px;
  width: 177px;
  border: rgb(222 230 248);
  border-radius: 8px;
  background-repeat: no-repeat;
}

:root {
  --font-color-blue: rgb(182 212 252);
}
.herosection-container {
  background-image: url("../assets/Section1.png");
  height: auto;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

.herosection {
  background-image: url("../assets/Section1.png");
  height: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  padding: 30px 100px;
}

.demo {
  border: 1px solid red;
  height: 40px;
}

.qualities {
  display: flex;
  gap: 20px;
  align-items: center;
}

.qualities .section {
  background-color: rgb(56 73 153);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
  padding: 5px 20px;
  border-radius: 10px;
}

.qualities .section h2 {
  color: rgb(255 255 255);
  font-weight: 700;
  font-size: 20px;
}

.hero-first {
  align-content: center;
  gap: 35px;
}

.join-button {
  background-color: #fff;
  color: rgb(37 99 235);
  border: none;
  border-radius: 12px;
  padding: 6px 20px;
  font-weight: 800;
  font-size: 14px;
  transition: 0.5s;
}

.join-button:hover {
  background-color: #fff;
  color: rgb(37 99 235 / 77%);
  border: none;
  border-radius: 0;
  padding: 10px 25px;
  font-weight: 800;
  font-size: 14px;
}

.last-button {
  color: rgb(185 248 207);
  background-color: rgb(22 85 130);
  border: none;
  border-radius: 5px;
  padding: 3px 20px;
  font-weight: 700;
  font-size: 12px;
}

.last-button-final {
  color: rgb(190 219 255);
  background-color: rgb(41 65 165);
  border: none;
  border-radius: 5px;
  padding: 3px 20px;
  font-weight: 700;
  font-size: 12px;
}

.hero-first-smallest {
  color: var(--font-color-blue);
  font-size: 9px;
}

.in-real-time {
  color: var(--font-color-blue);
}

.umra-by-poncehealth {
  color: var(--font-color-blue);
  font-weight: 100;
  font-family: system-ui;
  font-size: 14px;
  line-height: 2;
}

.herosection h1 {
  font-size: 55px;
  font-weight: 800;
  text-transform: capitalize;
  color: #fff;
}

.hand {
  color: rgb(105 154 255);
}

.hero-second {
  background-image: url("../assets/Container.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.hero-footer {
  display: flex;
  align-content: flex-end;
  justify-content: flex-end;
}

.hero-footer .hero-footer-container {
  margin-right: -30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  background-color: rgb(73 63 152);
  padding: 5px;
  border-radius: 40px;
  gap: 4px;
}
.hero-footer .footer-line {
  height: 30px;
  border: 1px solid #b6d4fc;
}

.hero-footer .footer-content {
  font-size: 10px;
  font-weight: 100;
  color: var(--bs-dark-bg-subtle);
  background: none;
  border: none;
}

@media (max-width: 576px) {
  .herosection {
    padding: 30px 20px;
    height: auto;
    align-items: center;
    justify-content: center;
    padding-bottom: 50px;
  }

  .qualities {
    gap: 5px;
    flex-wrap: wrap;
  }

  .qualities .section h2 {
    font-size: 14px;
  }

  .qualities .section {
    padding: 10px 0px;
  }

  .hero-footer .hero-footer-container {
    margin: 0;
  }

  .hero-footer .footer-content {
    width: 100%;
  }

  .hero-footer {
    display: flex;
    align-content: center;
    justify-content: center;
    position: absolute;
    bottom: -188vh;
    left: 0;
  }
  .hero-footer-container {
    margin: 0;
  }

  .hero-second {
    height: 100vh;
  }
}

/*frame 2 section is here were*/

.frame2section-container {
  background-color: hsl(214.29deg 63.64% 97.84%);
}

.frame2section {
  padding: 100px;
}

.frame2-sec-bnt {
  border: none;
  gap: 10px;
  background-color: hsl(0deg 100% 94.31%);
  color: hsl(357.82deg 100% 37.84%);
  padding: 5px 18px;
  border-radius: 15px;
  font-weight: 500;
  font-size: 12px;
}

.frame2-boxes{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.frame2bg-white {
    background-color: #fff;
    border-radius: 10px;
    padding: 10px 15px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    box-shadow: 2px 4px 20px -5px;
    background-size: cover;
    background-repeat: no-repeat;
}

.frame2-boxes p {
    color: rgb(85 96 111);
    font-size: 11px;
    font-weight: 500;
}

.frame2-boxes h1 {
    color: rgb(231 0 11);
    font-size: 30px;
    font-weight: 700;
    letter-spacing: -3px;
}

.frame2-boxes-gaps{
    padding: 5px;
}

.frame2progress-container{
  height: 8px;
  background-color: #f5f5f5;
  border-radius: 5px;
  
}

.frame2progress{
  width: 70%;
  height: 100%;
  background-color: rgb(231 0 11);
  border-radius: 5px;
}

.frame2-boxes-img {
    background-color: rgb(73 122 253);
    padding: 9px;
    border-radius: 50%;
    margin-right: 10px;
}

.first-largebox-frame2{
  padding: 20px;
}

.first-largebox-frame2 h1 {
    color: rgb(255 255 255 / 86%);
    font-size: 15px;
    letter-spacing: 0;
}

.first-largebox-frame2 p {
    color: #fff;
    font-weight: 200;
    font-size: 12px;
}

.first-largebox-frame2 h5{
    display: flex;
    align-items: center;
    font-size: 11px;
    color: #fff;
    gap: 10px;
    font-weight: 300;
}

.first-largebox-frame2 h5 span{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}


.second-largebox-frame2 {
    display: flex;
    padding: 10px;
    border: 1px solid #e7000b;
    border-radius: 10px;
}

.second-largebox-frame2 .s-progress{
  display: flex;

    align-items: flex-end;
  }

.second-largebox-frame2 .col-lg-9{
  padding-left: 20px;
}

.second-largebox-frame2 h1 {
    color: rgb(30 38 53);
    font-size: 19px;
    letter-spacing: 0;
    font-weight: 600;
}

.second-largebox-frame2 h5 {
color: rgb(74 85 101);
    font-size: 14px;
  }

.second-largebox-frame2 p span {
    font-size: 27px;
    font-weight: 800;
    letter-spacing: -1px;
    margin-right: 10px;
    color: #e7000b;
}
.second-largebox-frame2 img{
background-color: rgb(249 134 0);
border-radius: 10px;
}
.small-gap{
  gap: 10px;
}
.heath-b {
    width: auto;
    background-color: #ff000040;
}

.how-hder{
  background-color: #365df042;
  width: auto;
}

.container .g-4 .col-lg-4 .card p{
  font-size: 13px;
}

.coming-soon {
    color: red ! IMPORTANT;
    position: absolute;
    background-color: #dcabab;
    top: -18px;
    right: -42vh;
}

.step-three{
  background-color: #8A2BE2;
}

.bg-orange{
  background-color: #FF8C00;
}
.bg-purple{
  background-color: #8A2BE2;
}
.healthcare {
    background-color: rgb(25 135 84 / 29%);
}

@media (max-width: 576px) {

.small-gap{

  flex-wrap: wrap;
}
  
}



/*frame 3 is here were are you going sir??? */

.frame3{
  justify-content: center;
}

.frame3-boxes{
  display: flex;
  align-items: center;
  justify-content: start;

}

.frame3-main-heading{
  text-align: center;
}

.frame3-main-heading p{
  font-size: 10px;
}




.frame4{
  padding: 60px 100px;
  background-color: hsl(248.57deg 77.78% 98.24%);
}

.frame4bg {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
}

.text-aline{
  text-align: center;
}

.aline-center div{
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

.bg-purple-subtle {
  background-color: #E6E6FA !important;
}
.text-purple {
  color: #8A2BE2 !important;
}
.bg-orange-subtle {
  background-color: #FFF5E6 !important;
}
.text-orange {
  color: #FF8C00 !important;
}